
#container{
    
    border: solid 1px;
    height: 300px;
    width: 300px;



}
header{
    text-align: center;
}
input{
    margin-left: 50px;
    margin-top: 100px;
    width: 200px;
    height: 40px;
}
button{
    margin-left: 100px ;
    margin-top: 50px;
}